<a href="https://colab.research.google.com/github/abdelrahmanfekri/Machine-Learning/blob/main/natural_language_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install nltk==3.5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk==3.5 in /usr/local/lib/python3.8/dist-packages (3.5)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk==3.5) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk==3.5) (4.64.1)
Requirement already satisfied: regex in /usr/local/lib/python3.8/dist-packages (from nltk==3.5) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk==3.5) (1.2.0)

In [2]:
from nltk.tokenize import sent_tokenize,word_tokenize

In [5]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [6]:
example_string = """
... Muad'Dib learned rapidly because his first training was in how to learn.
... And the first lesson of all was the basic trust that he could learn.
... It's shocking to find how many people do not believe they can learn,
... and how many more believe learning to be difficult."""

In [7]:
sent_tokenize(example_string)

["\nMuad'Dib learned rapidly because his first training was in how to learn.",
 'And the first lesson of all was the basic trust that he could learn.',
 "It's shocking to find how many people do not believe they can learn,\nand how many more believe learning to be difficult."]

In [10]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
documentA = 'he loves football, basketball and vollyball'
documentB = 'my children loves basketball, tennis and lablabla'

In [50]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [51]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [52]:
numOfWordsA = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsA:
  numOfWordsA[word] += 1

numOfWordsB = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsB:
  numOfWordsB[word] += 1

In [53]:
import nltk
nltk.download('stopwords')

len(stopwords.words('arabic'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

754

In [54]:
def computeTF(wordDict, bagOfWords):
  tfDict = {}
  bagOfWordsCount = len(bagOfWords)
  for word, count in wordDict.items():
    tfDict[word] = count / float(bagOfWordsCount)
  return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [55]:
def computeIDF(documents):
  import math
  N = len(documents)

  idfDict = dict.fromkeys(documents[0].keys(),0)
  for document in documents:
    for word, val in document.items():
      if val >0:
        idfDict[word] += 1
  for word, val in idfDict.items():
    idfDict[word] = math.log(N/ float(val))
  return idfDict

In [56]:
idfs = computeIDF([numOfWordsA, numOfWordsB])

In [57]:
def computeTFIDF(tfBagOfWords, idfs):
  tfidf = {}
  for word, val in tfBagOfWords.items():
    tfidf[word] = val * idfs[word]
  return tfidf

In [58]:
tfidfA = computeTFIDF(tfA,idfs)
tfidfB = computeTFIDF(tfB,idfs)

df = pd.DataFrame([tfidfA,tfidfB])

In [59]:
df

,lablabla,he,basketball,"football,",vollyball,loves,children,and,"basketball,",my,tennis
0,0.000000,0.115525,0.115525,0.115525,0.115525,0.0,0.000000,0.0,0.000000,0.000000,0.000000
1,0.099021,0.000000,0.000000,0.000000,0.000000,0.0,0.099021,0.0,0.099021,0.099021,0.099021

In [60]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA,documentB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns = feature_names)
df

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,and,basketball,children,football,he,lablabla,loves,my,tennis,vollyball
0,0.334712,0.334712,0.000000,0.470426,0.470426,0.000000,0.334712,0.000000,0.000000,0.470426
1,0.302873,0.302873,0.425677,0.000000,0.000000,0.425677,0.302873,0.425677,0.425677,0.000000